In [2]:
import pandas as pd
import numpy as np
import xlrd, xlwt
import requests
from math import floor
from statistics import median

In [13]:
dp = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking3.xlsx', sheet_name=0)
dp.rename(columns={'Unnamed: 0': 'Name',\
                   'ККал на 100' : 'KCAL',\
                   'Б на 100': 'Proteins',\
                   'Ж на 100': 'Fats',\
                   'У на 100': 'Carbohydrates'}, inplace=True)
dp = dp.fillna(0)
dp.head()

                                Name   KCAL  Proteins  Fats  Carbohydrates
0                         Сухофрукты  548.0      12.8  40.8           32.4
1                       Каша Быстров  334.0       8.6   4.8           64.0
2                Балык "Королевский"  170.0      25.0   8.0            0.0
3  Колбаса с/к "Еврейская полусухая"  481.0      19.0  45.0            0.0
4       Суп гороховый с копченостями  390.0      16.0  11.0           52.0

In [34]:
temp = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking3.xlsx', sheet_name=1)
temp.rename(columns={'День': 'Day',\
                     'Продукт': 'Product',\
                     'Вес в граммах': 'Weight'}, inplace=True)
days = {}
count = 0
for i in temp.Day:
    if i not in days.keys():
        days.update({i : [count]})
        count = 1
    else:
        count += 1
        days.update({i : [count]})
print(days)
temp

{1: [5], 2: [12], 3: [13], 4: [11], 5: [13], 6: [14], 7: [13], 8: [14], 9: [4]}

    Day                      Product  Weight
0     1       Рис пропаренный Увелка     160
1     1             Свинина Кронидов     250
2     1     Хлебцы льняные "Тайские"     110
3     1          Балык "Королевский"      50
4     1       Шоколад молочный какао      55
..  ...                          ...     ...
94    8       Шоколад молочный какао      55
95    9  Сухарики ржаные с семечками     120
96    9          Балык "Королевский"      80
97    9                   Сухофрукты     150
98    9                 Каша Быстров      80

[99 rows x 3 columns]

In [140]:
comp_list_days = []
prod_in_day = []
k = 0
for j in range(1,10):
    for i in range(days[j][0]):
        prod_in_day.append([temp.Product[i+k], temp.Weight[i+k] / 100])
    k += days[j][0]
    comp_list_days.append(prod_in_day)
    prod_in_day = []
# for item in comp_list_days:
#     for i in item:
#         print(i)
#     print()
print(comp_list_days[0])

[['Рис пропаренный Увелка', 1.6], ['Свинина Кронидов', 2.5], ['Хлебцы льняные "Тайские"', 1.1], ['Балык "Королевский"', 0.5], ['Шоколад молочный какао', 0.55]]

In [144]:
 # KCAL	Proteins	Fats	Carbohydrates
for i in range(len(comp_list_days)):
    prod_in_day = [comp_list_days[i]]
    temp_res = [0, 0, 0, 0]
    for j in range(len(comp_list_days[i])):
        kpfs = dp[dp.Name ==comp_list_days[i][j][0]].values.tolist()
        temp_res[0] += kpfs[0][1] * comp_list_days[i][j][1]
        temp_res[1] += kpfs[0][2] * comp_list_days[i][j][1]
        temp_res[2] += kpfs[0][3] * comp_list_days[i][j][1]
        temp_res[3] += kpfs[0][4] * comp_list_days[i][j][1]
#         print(kpfs)
    print(temp_res)

[2405.75, 82.55, 154.65, 172.10000000000002]
[4963.849999999999, 203.17, 307.4, 302.15]
[5219.7, 178.77, 267.39, 502.8140000000001]
[4873.150000000001, 241.13799999999998, 204.65, 537.856]
[5278.4, 243.44, 314.68, 367.41600000000005]
[4451.7, 190.52999999999997, 188.35000000000002, 497.45]
[4806.599999999999, 205.838, 265.83, 386.586]
[5738.750000000001, 264.93, 195.39, 720.13]
[1766.3999999999999, 66.84, 90.64, 171.2]

In [116]:
comp_list_days[0]

[['Рис пропаренный Увелка', 1.6],
 ['Свинина Кронидов', 2.5],
 ['Хлебцы льняные "Тайские"', 1.1],
 ['Балык "Королевский"', 0.5],
 ['Шоколад молочный какао', 0.55]]